<head>
    <meta charset="UTF-8">
    <title>WeeTEC | <%= title %></title>
    <link rel="stylesheet" href="/main.css">
    <meta name="theme-color" content="#0A0A0A">
    <script src="/scripts/jq.js"></script>
</head>