<div class="nav">
    <nav class="nav__container">
        <div class="nav__container-items">
            <a href="/" class='nav__links nav__links-title'>
                <div class="nav__links-img-container">
                    <%- logo %>
                </div>
            </a>
            <a href="/products" class="nav__links"><p class="nav__links-text">Products</p></a>
            <a href="/support" class="nav__links"><p class="nav__links-text">Support</p></a>
            <a href="/about" class="nav__links"><p class="nav__links-text">About Us</p></a>
            <a href="/login" class='nav__links nav__links-title'>
                <div class="nav__links-img-container nav__links-img-icon">
                    <%- personImg %>
                </div>
            </a>
            <a href="/cart" class='nav__links nav__links-title'>
                <div class="nav__links-img-container nav__links-img-icon">
                    <%- cartImg %>
                </div>
            </a>
        </div>
    </nav>
</div>