<html lang="en">

<%- include('./partials/header.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div class="body-container">
    <div class="container__data">
        <div>
            <p class="text subtitle">404</p>
            <p class="text">Page not found</p>
        </div>
        <a href="/" class="button">Return to home</a>
    </div>
</div>

</body>
</html>