<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="container__data">
        <img src="/media/cube.jpg" class="container__image">

        <div class="container__data-text-holder">
            <p class="text subtitle">Put together two guys with completely different backgrounds and the same love for speed, and you will have the beginning of a great journey.</p>
    
            <p class="text body">One is an ex motorcycle racer with a passion for the track since he was a 10-year-old boy, one is a sim racer who builds his own steering wheels to improve his setup. Mix business acumen with a keen eye for design and BOOM!</p>
        </div>

        <div class="container__data-text-holder">
            <p class="text body">We are Cube Controls! A team of 16 passionate people who work (and race) hard every day to bring you the best sim racing steering wheels.
                
                Our goal is to give you the thrill of a real motorsport experience, maybe your cars are virtual but the adrenaline is real! It’s all about performance. We want to give you the same excitement of a real-racer and feel the precision of a real steering wheel, for that extra mile, that gear shift at the right time that makes the difference.
            </p>
            <div class="container__data-images-grid">
                <img src="/media/Andrea.jpg" class="container__image portrait">
                <img src="/media/Antonio.jpg" class="container__image portrait">
                <img src="/media/Barbara.jpg" class="container__image portrait">
                <img src="/media/Fabrizio.jpg" class="container__image portrait">
                <img src="/media/Veronica.jpg" class="container__image portrait">
                <img src="/media/mario.jpg" class="container__image portrait">
            </div>
            <p class="text body">For a unique feeling, you need a unique wheel made and designed in Italy. Quality materials and innovative technology are what make the Cube Controls collections so special. All the wheels are hand-assembled, hand-checked, hand-packed one by one: an artisanal production to pay extra attention to each detail.</p>
        </div>
    </div>

</body>
</html>