<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <video autoplay muted loop class="background__video">
        <source src="/media/CubeControls.mp4" type="video/mp4">
    </video>

    <%- include('./partials/nav.ejs') %>

    <div class="body-container">
        <div class="container">
            <div class="container__home">
                <p class="text caption">You've never felt anything like this before</p>
                <a href="/products" class="button">Learn more</a>
            </div>
        </div>
    </div>

</body>
</html>